[submodule "pack/my-plugins/start/vim-surround"]
	path = pack/my-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/my-plugins/start/vim-commentary"]
	path = pack/my-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/my-plugins/start/ale"]
	path = pack/my-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/my-plugins/start/vim-ripgrep"]
	path = pack/my-plugins/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "pack/my-plugins/start/vim-prettier"]
	path = pack/my-plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "pack/my-plugins/start/vim-go"]
	path = pack/my-plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/my-plugins/start/auto-pairs"]
	path = pack/my-plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
